container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .container {
    
      background-color: #eae7e9 !important;
    }
    .edit-text {
      color: blue;   
      cursor: pointer;         
      text-decoration: none;   
    }
    
    .edit-text:hover {
      text-decoration: underline; 
    }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8482f5;
    color: white;
    padding: 20px;
  
    h1 {
      margin: 0;
    }
  
    nav {
      a {
        color: white;
        margin: 0 15px;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  
  .content {
    display: flex;
    margin-top: 20px;
  
    .main-content {
      flex: 3;
      margin-right: 20px;
  
      .post {
        background-color: #f9f9f9;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
  
        h3 {
          margin: 0 0 10px;
        }
  
        p {
          margin: 0 0 5px;
        }
  
        small {
          color: gray;
        }
      }
    }
  
    .sidebar {
      flex: 1;
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 8px;
  
      h2 {
        margin-top: 0;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          margin-bottom: 10px;
  
          a {
            color: #333333;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }